<header class="flex flex-col justify-center items-center gap-4">
    <img src="/images/logo.png" alt="bradarr" class="select-none w-8 h-8" />
    <p class="text-lg text-gray-700 font-bold">bradarr</p>
    <nav class="flex justify-center items-center text-sm text-gray-400 gap-4">
        <a href="/">accueil</a>
        <a href="/logs">logs</a>
        <a href="/requests">requêtes</a>
        <a href="/settings">paramètres</a>
    </nav>
</header>