<header class="fixed top-[5%] left-[50%] -translate-x-1/2 flex justify-between items-center w-[90vw]">
    <a href="/" id="nav-logo" class="flex justify-start items-center gap-2 text-black">
        <img src="/images/logo.png" alt="bradarr" class="z-10 select-none w-6 h-6 transition-all duration-300" />
        <span class="select-none text-lg font-bold ">bradarr</span>
    </a>
    <div class="relative">
        <button id="nav" class="flex flex-col justify-center items-center gap-1.5 select-none duration-200 transition-all active:duration-200 active:transition-all active:scale-90 py-3 px-5 hover:bg-primary/10 rounded-md">
            <span class="w-5 h-[4px] rounded-sm bg-primary/80 pointer-events-none"></span>
            <span class="w-5 h-[4px] rounded-sm bg-primary/80 pointer-events-none"></span>
        </button>
        <div id="nav-links" class="hidden absolute top-[100%] right-0 mt-2">
            <div class="flex transition-all duration-200 py-4 px-3 bg-white shadow-md rounded-lg flex-col items-center gap-2 z-50">
                <a href="/" class="nav-link">Home</a>
                <a href="/logs" class="nav-link">Logs</a>
                <a href="/requests" class="nav-link">Requests</a>
                <a href="/settings" class="nav-link">Settings</a>
                <a class="primary-action px-8 mt-2" href="/auth/logout">Logout</a>
            </div> 
        </div>
    </div>
</header>
<script>
const nav=document.getElementById("nav"),navLinks=document.getElementById("nav-links"),navLogo=document.getElementById("nav-logo"),navLogoImg=navLogo.querySelector("img"),button=document.querySelector("header button");nav.addEventListener("click",(()=>{navLinks.classList.toggle("hidden")})),window.addEventListener("click",(e=>{nav.contains(e.target)||navLinks.contains(e.target)||navLinks.classList.add("hidden")})),navLogo.addEventListener("mouseenter",(()=>{navLogoImg.classList.add("rotate-180"),navLogo.addEventListener("mouseleave",(()=>{navLogoImg.classList.remove("rotate-180")}),{once:!0})}));
</script>
