<%- include('layout/base'); -%>

    <title>bradarr - Home</title>
</head>
<body class="flex justify-start py-24 items-center flex-col h-screen w-screen gap-4 bg-white">
    <%- include('layout/header'); -%>
    <%- include('layout/alerts'); -%>
    <script>
        setTimeout(()=>{document.querySelectorAll('.animate-alert').forEach(alert=>alert.remove());},4000);
    </script>
    <main class="flex justify-center items-center flex-col gap-4 w-full pb-24 h-full">
        <h1 class="text-4xl text-gray-700 font-bold">Home</h1>  

        <div class="flex justify-center items-center flex-col gap-2">
            <h2 class="w-24 bg-gray-100 text-gray-800 px-3 leading-6 font-semibold rounded-full text-sm text-center animate-pulse">demandes</h2>
            <ul id="requests-list" class="list-disc"></ul>
        </div>
        <div class="flex justify-center items-center flex-col gap-2">
            <h2 class="w-20 bg-gray-100 text-gray-800 px-3 leading-6 font-semibold rounded-full text-sm text-center animate-pulse">films</h2>
            <ul id="movies-list" class="list-disc"></ul>
        </div>
    </main>

    <!-- <script src="js/home.js"></script> -->
</body>
