<%- include('layout/base'); -%>

    <title>bradarr - Settings</title>
</head>
<body class="flex justify-start py-24 items-center flex-col h-screen w-screen gap-4">
    <%- include('layout/header'); -%>
    <main class="flex justify-center items-center flex-col gap-6">
        <h1 class="text-base uppercase text-gray-700 font-bold">Settings</h1>  
        <!-- <div class="flex flex-col justify-center items-center gap-4 text-sm text-gray-400">
            <button onclick="fetch('/logs/empty/?apiKey=lkgZt22mcBK6gm93IppOI6Pgxl7LIKmjjUPB965PhCxqqmTFhHRtq1gkaT1Q7c0M').then(response => response.ok ? alert('Logs vidés') : alert('Erreur lors du vidage des logs'));">
                vider logs
            </button>
            <button onclick="fetch('/requests/empty/?apiKey=lkgZt22mcBK6gm93IppOI6Pgxl7LIKmjjUPB965PhCxqqmTFhHRtq1gkaT1Q7c0M').then(response => response.ok ? alert('Requêtes vidées') : alert('Erreur lors du vidage des requêtes'));">
                vider requêtes internes
            </button>
            <button onclick="fetch('/external-requests/empty/?apiKey=lkgZt22mcBK6gm93IppOI6Pgxl7LIKmjjUPB965PhCxqqmTFhHRtq1gkaT1Q7c0M').then(response => response.ok ? alert('Requêtes vidées') : alert('Erreur lors du vidage des requêtes'));">
                vider requêtes externes
            </button>
            <a href="/logout">se déconnecter</a>
        </div> -->
    </main>
</body>
</html>
