<%- include('layout/base'); -%>

    <title>bradarr - Setup</title>
</head>
<body class="flex justify-start items-center flex-col min-h-screen w-screen h-full overflow-x-hidden">
    <%- include('layout/alerts'); -%>
    <main class="flex justify-start items-center flex-col gap-10 py-32 w-full h-full">
        <div class="flex justify-center items-center flex-col gap-2">
            <div class="flex flex-col justify-center items-center gap-1">
                <img src="/images/logo.png" alt="bradarr" class="select-none w-6 h-6" />
                <h1 class="text-lg text-gray-700 font-bold">bradarr</h1>  
            </div>
            <h2 class="text-4xl text-gray-700 font-bold">Setting up</h2>  
            <h3 class="text-base text-gray-400">Let's get started by configuring the app.</h3>
        </div>
        <form class="w-full max-h-[900px] max-w-[800px] h-full flex flex-col justify-center items-center gap-3" action="/settings/setup" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="flex justify-center items-start w-full h-full gap-4 flex-wrap">
                <div class="flex flex-col justify-start items-center gap-1 h-full w-[300px]">
                    <div class="secondary-action h-28 w-28 flex flex-col justify-center items-center gap-1">
                        <span>Admin</span>
                    </div>
                    <div class="mb-2 w-full flex justify-start flex-col items-start">
                        <label for="username" class="block mb-1 text-sm text-gray-500">Username</label>
                        <input type="text" id="username" name="username" maxlength="15" minlength="5" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="admin" value="admin" required />
                    </div>
                    <div class="mb-2 w-full">
                        <label for="password" class="block mb-1 text-sm text-gray-500">Password</label>
                        <input type="password" id="password" name="password" maxlength="25" minlength="8" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="y0urP@ssw0rd" required />
                    </div>
                    <div class="mb-2 w-full">
                        <label for="confirmPassword" class="block mb-1 text-sm text-gray-500">Confirm password</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" maxlength="25" minlength="8" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="y0urP@ssw0rd" required />
                    </div>
                </div>
                <div class="flex flex-col justify-center items-center gap-1 h-full w-[300px]">
                    <div class="secondary-action h-28 w-28 flex flex-col justify-center items-center gap-1">
                        <img src="/images/icons/jellyseerr.png" alt="jellyseerr" class="w-9 h-9" />
                        <span>Jellyseerr</span>
                    </div>
                    <div class="flex items-center justify-center gap-3">
                        <div class="mb-2 w-[75%] flex justify-start flex-col items-start">
                            <label for="jellyseerrApiUrl" class="block mb-1 text-sm text-gray-500">API url</label>
                            <input type="text" id="jellyseerrApiUrl" name="jellyseerrApiUrl" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="http://localhost/api/v1" value="http://localhost/api/v1" required />
                        </div>
                        <div class="mb-2 w-[25%] flex justify-start flex-col items-start">
                            <label for="jellyseerrPort" class="block mb-1 text-sm text-gray-500">Port</label>
                            <input type="number" min="1" step="1" max="99999" id="jellyseerrPort" name="jellyseerrPort" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="80" value="80" required />
                        </div>
                    </div>
                    <div class="mb-2 w-full flex justify-start flex-col items-start">
                        <label for="jellyseerrApiKey" class="block mb-1 text-sm text-gray-500">API Key</label>
                        <input type="password" id="jellyseerrApiKey" name="jellyseerrApiKey" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="Jellyseerr Api Key" required />
                    </div>
                    <div class="mb-2 w-full flex justify-start flex-col items-start">
                        <label for="jellyseerrUsername" class="block mb-1 text-sm text-gray-500">Username</label>
                        <input type="text" id="jellyseerrUsername" name="jellyseerrUsername" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="jellyseerr@email.com" required />
                    </div>
                    <div class="mb-2 w-full">
                        <label for="jellyseerrPassword" class="block mb-1 text-sm text-gray-500">Your password</label>
                        <input type="password" id="jellyseerrPassword" name="jellyseerrPassword" class="bg-gray-50 border-1 border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-primary block w-full p-2.5" placeholder="y0urP@ssw0rd" required />
                    </div>
                </div>
            </div>
            <button type="submit" class="primary-action">Submit</button>
        </form>
    </main>
</body>
</html>