<%- include('layout/base'); -%>

    <title>bradarr - Setup</title>
</head>
<body class="flex justify-start py-24 items-center flex-col h-screen w-screen gap-4">
    <main class="flex justify-center items-center flex-col gap-6">
        <h1 class="text-base uppercase text-gray-700 font-bold">Welcome to bradarr</h1>
        <h2 class="text-sm text-gray-400">Let's get started by setting up the app.</h2>
    </main>
</body>
</html>
